
*{
	margin: 0;
	padding: 0;
	
}
.navbar{
text-align: center;
border: none;
background-color: black;
color: hsl(336, 15%, 87%);
}

body{
	background-color: #d4306c;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#12ee1d; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #48c2f3;
}
#myNavbar ul li a:hover{
	background-color: aliceblue;
	cursor: pointer;
}
.navbar-brand{
font-size: 30px;	
}
